langchain_community
langchain
langgraph
rank_bm25
tavily-python
tenacity
nest_asyncio
sentence-transformers
docling
nltk
pyspellchecker
num2words
markdown
trulens
trulens-apps-langchain
trulens-providers-openai
pymilvus
langchain-milvus
langchain_experimental
langchain-docling
fastapi
uvicorn
pydantic
python-multipart
arize-phoenix
openinference-semantic-conventions
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-langchain
faiss-cpu
redisvl
firebase-admin
aiofiles
bitsandbytes
accelerate
